/* Webfont: Lato-Thin */
@font-face {
    font-family: 'Lato';
    src: local('Lato-Thin'), local('Lato Thin'),
    url('../fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Thin.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
@font-face {
    font-family: 'Lato';
    src: local('Lato-Light'), local('Lato Light'),
    url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Light.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'Lato';
    src: local('Lato-Regular'), local('Lato Regular'),
    url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Regular.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */
@font-face {
    font-family: 'Lato';
    src: local('Lato-Medium'), local('Lato Medium'),
    url('../fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Medium.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */
@font-face {
    font-family: 'Lato';
    src: local('Lato-Semibold'), local('Lato Semibold'),
    url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Semibold.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
    font-family: 'Lato';
    src: local('Lato-Bold'), local('Lato Bold'),
    url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Bold.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */
@font-face {
    font-family: 'Lato';
    src: local('Lato-Heavy'), local('Lato Heavy'),
    url('../fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Heavy.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Black */
@font-face {
    font-family: 'Lato';
    src: local('Lato-Black'), local('Lato Black'),
    url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Black.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}