/* Component => Alert */
.alert{
  @include position($p: absolute, $t: 0, $r: 20px, $l: 20px);
  z-index: 1;
  align-items: center;
  .alert-icon{
    display: inline-block;
    margin-right: 15px;
    width: 24px;
  }
  .alert-text{
    @include position($p: relative);
    @include font($s: 14px, $w: $semi-bold);
    display: inline-block;
    padding-left: 40px;
    &:before{
      @include position($p: absolute, $t: -3px, $l: 0);
      content: '';
      width: 24px;
      height: 24px;
      background-image: url(images/icon-check-circle.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &.alert-attention{
    background-color: $primary100;
    padding: 20px 40px;
    .alert-text{
      width: calc(100% - 120px);
      margin-right: 20px;
      p{
        color: $gray100;
      }
    }
    .alert-view{
      width: 100px;
    }
  }

  @media #{$screen-max-md}{
    left: 0;
    right: 0;
    &.alert-attention{
      padding-left: 20px;
      padding-right: 20px;
      .alert-text,.alert-view{
        width: 100%;
        text-align: left;
      }
      .alert-text{
        margin-right: 0;
      }
      .alert-view{
        margin: 10px 0 0 40px;
      }
    }
  }
  @media #{$screen-max-sm}{
    &.alert-attention{
      padding: 15px 20px;
    }
  }
}
