/* Component => Page Banner */
.page-banner{
  @include position($p: relative);
  z-index: 2;
  padding: 150px 0 0;
  background-attachment: fixed;
  &:before{
    @include position($p: absolute, $t: 0, $l: 0);
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgb(10,10,10);
    background: -moz-linear-gradient(360deg, rgba(10,10,10,1) 15.49%, rgba(10,10,10,0) 159.66%);
    background: -webkit-linear-gradient(360deg, rgba(10,10,10,1) 15.49%, rgba(10,10,10,0) 159.66%);
    background: linear-gradient(360deg, rgba(10,10,10,1) 15.49%, rgba(10,10,10,0) 159.66%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0a0a",endColorstr="#0a0a0a",GradientType=1);
  }
  .wrapper-xl,.wrapper-lg,.wrapper-md,.wrapper-sm,.wrapper-xs{
    @include position($p: relative);
    z-index: 4;
  }
  .pb-container{
    @include position($p: relative);
    z-index: 4;
    text-align: center;
    margin-bottom: 95px;
  }
  .pb-title{
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.055em;
  }
  .pb-content{
    @include font($s: 20px, $w: $bold);
    text-transform: uppercase;
    color: $white;
    line-height: 32px;
    letter-spacing: 0.01em;
  }
  .pb-link{
    margin-top: 30px;
  }

  @media #{$screen-max-sm}{
    padding-top: 165px;
    background-size: 215%;
    background-position: center top;
  }
}
