/* Component => Breadcrumb */
.breadcrumb{
  .breadcrumb_item{
    @include font($s: 14px, $w: $regular);
    display: inline-block;
    text-transform: capitalize;
    line-height: 20px;
    color: $gray80;
    .breadcrumb_text{
      display: inline-block;
      color: $gray80;
      padding: 4px 8px;
      background-color: transparent;
      text-align: center;
      @include radius(3px);
    }
    a.breadcrumb_text{
      border: 1px solid $white;
      &:hover{
        background-color: $gray25;
        color: $gray100;
        border-color: $gray25;
      }
      &:focus{
        background-color: transparent;
        color: $gray100;
        border-color: $primary100;
      }
    }
    .breadcrumb_slash{
      margin: 0 5px;
    }
  }
  &.bc-bg-transparent{
    .breadcrumb_item{
      a{
        &.breadcrumb_text{
          border-color: transparent;
          &:focus{
            color: $gray80;
          }
        }
      }
    }
  }

  @media #{$screen-min-lg}{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media #{$screen-max-lg}{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}