/* Component => Buttons */
.btn{
  @include font($s: 14px, $w: $semi-bold);
  @include transition();
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: $primary100;
  color: $gray100;
  &.disabled{
    color: $gray80;
    background-color: $disabled;
  }
  &:after{
    display: inline-block;
    width: 0;
    height: 100%;
    content: '';
    vertical-align: middle;
  }
  > *{
    display: inline-block;
    vertical-align: middle;
  }
}

.btn-sm{
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}

.btn-md{
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
}

.btn-primary{
  @include position($p: relative);
  @include font($s: 16px);
  line-height: 24px;
  background-color: transparent;
  &:after{
    @include position($p: absolute, $b: 0, $l: 0);
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(10,10,10,0.5);
  }
}

.btn-primary-ii{
  &:hover{
    color: $gray100;
    background-color: $primary50;
  }
}

.btn-scroll-top{
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add{
  padding: 0 15px;
  span{
    @include font($s: 16px, $w: $semi-bold);
    line-height: 20px;
    margin-right: 4px;
  }
}

.btn-search{
  background-color: $primary100;
  display: inline-block;
  text-align: center;
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
}

.btn-submit{
  border-color: $primary100;
}

.btn-switch{
  @include position($p: relative);
  display: inline-block;
  width: 60px;
  height: 34px;
  input{
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch-slider{
    @include position($p: absolute, $t: 0, $r: 0, $b: 0, $l: 0);
    @include transition();
    @include radius(33px);
    cursor: pointer;
    background-color: $white;
    border: 2px solid #E9E9E9;
    &:before{
      @include position($p: absolute, $t: -2px, $l: -2px);
      @include radius(50%);
      @include transition();
      content: '';
      height: 34px;
      width: 34px;
      background-color: $primary100;
    }
  }
  input:checked + .switch-slider:before{
    -webkit-transform: translateX(26px);
    -moz-transform: translateX(26px);
    -ms-transform: translateX(26px);
    -o-transform: translateX(26px);
    transform: translateX(26px);
  }
}

.btn-transparent{
  background-color: transparent;
}

.btn-watch{
  @include font($w: $regular);
  color: $white;
  background-color: transparent;
}

.btn-play-icon{
  width: 64px;
  height: 64px;
  line-height: 64px;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  img{
    max-width: 20px;
    width: 100%;
  }
}

.btn-watch-play{
  color: $primary100;
  line-height: 14px;
  img{
    width: 100%;
    max-width: 12px;
    margin-right: 7px;
  }
}

.btn-read{
  color: $white;
  @include position($p: relative);
  line-height: 14px;
  img{
    width: 100%;
    max-width: 14px;
    margin-right: 7px;
  }
}

.explore-link{
  text-align: center;
  margin-top: 50px;
}

.btn-explore{
  @include position($p: relative);
  color: $white;
  background-color: transparent;
  &:after{
    @include position($p: absolute, $b: -5px, $l: 0);
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.5);
  }
}

@media #{$screen-max-lg}{
  .btn-play-icon{
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}