/* Component => Carousel */
.carousel{
  @include position($p: relative);
}

/* Carousel with Product Info and Image */
.carousel-image{
  height: auto;
  background-color: #404040;
  .wrapper{
    z-index: 6;
  }
  .m_overlay-gradient{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(248.83deg, rgba(0,0,0,0) 17.49%, rgba(0,0,0,0.49) 70.88%);
    background: -webkit-linear-gradient(248.83deg, rgba(0,0,0,0) 17.49%, rgba(0,0,0,0.49) 70.88%);
    background: linear-gradient(248.83deg, rgba(0,0,0,0) 17.49%, rgba(0,0,0,0.49) 70.88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  }
  .media-content{
    @include position($p: relative);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
    .cols-2{
      margin-left: 30px;
      width: calc(100%/2 - 30px/2);
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .media-title{
    text-transform: uppercase;
    span{
      display: block;
    }
  }
  .mc_text{
    padding: 130px 0 80px;
  }
  .mc_image{
    @include position($p: relative);
    img{
      @include position($p: absolute, $t: 20%);
      max-width: 375px;
      width: 100%;
      &.image-front{
        z-index: 3;
        left: 0;
      }
      &.image-back{
        z-index: 2;
        right: 0;
      }
    }
  }
}

/* Carousel Nav */
.carousel-nav{
  @include position($p: absolute, $t: 50%);
  @include translator($y: -50%);
  width: 39px;
  display: inline-block;
  cursor: pointer;
  .carousel-icon{
    width: 100%;
    display: block;
  }
  &.carousel-prev{
    @include position($l: -100px);
  }
  &.carousel-next{
    @include position($r: -100px);
  }
}

/* Carousel Dots */
.carousel-dots{
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  .carousel-dot{
    @include transition();
    width: 23px;
    height: 3px;
    background-color: rgba(244,245,247,0.3);
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    &.active{
      background-color: $primary100;
    }
  }
}
