/* Component => Checkbox */
.custom-checkbox{
  @include position($p: relative);
  @include font($s: 14px, $w: $regular);
  color: $gray80;
  display: block;
  cursor: pointer;
  padding-left: 25px;
  margin-top: 7px;
  line-height: 16px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:first-child{
    margin-top: 0;
  }
  input{
    @include position($p: absolute);
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
  }
  .check-mark{
    @include position($p: absolute, $t: -1px, $l: 0);
    //@include translator($y: -50%);
    @include radius(50%);
    width: 16px;
    height: 16px;
    border: 1px solid $gray50;
    background-color: $gray25;
    &:after{
      @include position($p: absolute, $t: 50%, $l: 50%);
      @include translator(-50%,-50%);
      @include radius(50%);
      content: '';
      width: 6px;
      height: 6px;
      background-color: $white;
      opacity: 0;
    }
  }
  input{
    &:checked{
      ~ .check-mark{
        background-color: $primary100;
        border-color: $primary100;
        &:after{
          opacity: 1;
        }
      }
    }
  }
}