/* Component => Columns */
.columns{
  .cols{
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
.columns-3{
  .cols{
    padding: 0 10px;
  }
}
.columns-4{
  .cols{
    width: calc(100%/4);
    padding: 0 10px;
    margin-bottom: 50px;
  }
}
.columns-6{
  .cols{
    width: calc(100%/6);
    padding: 0 10px;
    margin-bottom: 50px;
  }
}

@media #{$screen-min-sm}{
  .columns{
    .cols-2{
      margin-left: 30px;
      width: calc(100%/2 - 30px/2);
      &:nth-child(odd){
        margin-left: 0;
      }
    }
    .cols-3{
      margin-left: 20px;
      width: calc(100%/3 - 40px/3);
      &:nth-child(3n+1){
        margin-left: 0;
      }
    }
    .cols-4{
      width: calc(100%/2);
    }
  }
  .columns-3{
    .cols{
      width: calc(100%/3);
    }
  }
}
@media #{$screen-min-md}{
  .columns{
    .cols-4{
      width: calc(100%/4);
    }
  }
}
@media #{$screen-min-lg}{
  .columns{
    .cols-2{
      margin-left: 45px;
      width: calc(100%/2 - 45px/2);
    }
    .cols-3{
      margin-left: 30px;
      width: calc(100%/3 - 60px/3);
    }
  }
}
@media #{$screen-min-xl}{
  .columns{
    .cols-2{
      margin-left: 90px;
      width: calc(100%/2 - 90px/2);
    }
  }
}
@media #{$screen-max-sm}{
  .columns{
    .cols-3{
      margin-left: 20px;
      width: calc(100%/2 - 20px/2);
      &:nth-child(odd){
        margin-left: 0;
      }
    }
    .cols-4{
      width: calc(100%/2);
    }
  }
  .columns-3{
    .cols{
      margin-bottom: 50px;
      width: 100%;
    }
  }
}