/* Component => Filters */
.filter-result{
  .block{
    align-items: center;
  }
  .result{
    @include font($s: 14px, $w: $semi-bold);
    line-height: 22px;
    text-align: left;
    width: 150px;
  }
  .filter{
    width: calc(100% - 150px);
    text-align: right;
    label{
      @include font($w: $semi-bold);
      display: inline-block;
      margin-right: 10px;
    }
  }
  .form-element{
    width: auto;
    margin-bottom: 0;
    float: none;
  }
  .select-multiple{
    margin-right: 40px;
    min-width: 270px;
  }

  @media #{$screen-min-lg}{
    form{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
    }
  }
  @media #{$screen-max-lg}{
    .result,.filter{
      width: 100%;
    }
    .result{
      margin-bottom: 15px;
    }
    form{
      display: block;
      &:after{
        clear: both;
        display: block;
        content: '';
      }
    }
    .select-multiple{
      float: left;
      margin-right: 20px;
    }
    .select-single{
      float: right;
    }
  }
  @media #{$screen-max-sm}{
    .select-multiple,.select-single{
      width: 100%;
    }
    .select-multiple{
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

.filter-categories{
  margin-bottom: 40px;
  .fil_cat-item{
    @include font($s: 14px, $w: $semi-bold);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding: 0 20px;
    background-color: rgba(209,209,209,0.5);
    color: rgba(10,10,10,0.6);
    margin-right: 7px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    &.selected{
      color: $gray100;
      background-color: $primary100;
    }
  }
}