/* Component => Forms */
form{
  &:after{
    clear: both;
    display: block;
    content: '';
  }
}

.form-element{
  width: 100%;
  margin-bottom: 20px;
  float: left;
}

.form-radio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .custom-checkbox{
    margin-top: 0;
    margin-left: 40px;
    &:first-child{
      margin-left: 0;
    }
  }
}

label{
  @include font($s: 14px, $w: $regular);
  line-height: 22px;
  text-align: left;
  color: $gray100;
  display: block;
}

input,select,textarea{
  @include font($s: 14px, $w: $semi-bold);
  border: 1px solid $gray25;
  outline: none;
  color: $gray100;
  background-color: $gray25;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include placeholder{
    @include font($s: 14px, $w: $semi-bold);
    color: $disabled;
    line-height: 50px;
  }
  &:focus{
    border-color: $gray50;
  }
  &.disabled{
    border-color: $gray0;
    background-color: $gray0;
    color: $gray50;
  }
  &.success{
    border-color: $success;
  }
  &.error{
    background-color: rgba(222,28,34,0.1);
    border-color: $alert;
  }
}
select{
  &::-ms-expand{
    display: none;
  }
  color: $disabled;
  padding-right: 35px;
  background-image: url(images/icon-chevron-down.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 10px;
}
textarea{
  min-height: 130px;
  overflow: hidden;
}
.label-icon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  span{
    width: 14px;
    margin-left: 5px;
  }
  img{
    width: 100%;
    display: block;
  }
}
.input-icon{
  @include position($p: relative);
  input{
    padding-left: 50px;
  }
  .icon-input{
    @include position($p: absolute, $t: 50%, $l: 15px);
    @include translator($y: -50%);
    display: inline-block;
    width: 20px;
    img{
      width: 100%;
      display: block;
    }
  }
}

@media #{$screen-min-sm}{
  .form-radio{
    .custom-checkbox{
      margin-left: 20px;
    }
  }
}
@media #{$screen-min-md}{
  .form-element{
    &.fe-half{
      width: 48.5%
    }
    &.floatRight{
      float: right;
    }
  }
  .form-radio{
    .custom-checkbox{
      margin-left: 40px;
    }
  }
}
