/* Components => Box Layouts */
.layout-media{
  .cols{
    padding: 0 10px;
  }
  .media{
    height: 100%;
  }
  &.layout-media-watch{}
  &.layout-media-read{
    .cols-inner{
      width: 100%;
      .media{
        flex: 1;
        padding-bottom: 30%;
      }
      .media-content{
        flex: 2;
        margin-left: 30px;
      }
      .media-category{
        @include font($s: 12px, $w: $regular);
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        color: rgba(255,255,255,0.5);
        margin-bottom: 10px;
        display: block;
      }
      .media-title{
        display: block;
        @include font($s: 14px, $w: $semi-bold);
        line-height: 20px;
        color: $white;
        text-transform: uppercase;
      }
      .btn-read{
        margin-top: 20px;
      }
    }
  }
  @media #{$screen-min-md}{
    &.layout-media-read{
      padding-bottom: 75px;
      .cols{
        flex: 1;
      }
      .cols-inner{
        margin-top: 35px;
        padding-top: 35px;
        border-top: 1px solid rgba(209,209,209,0.3);
        &:first-child{
          margin-top: 0;
          padding-top: 0;
          border-top: 0 none;
        }
      }
    }
    .featured{
      .media{
        .media-content{
          padding: 0 20px 20px;
        }
        .media-title{
          @include font($s: 34px);
          line-height: 40px;
        }
      }
    }
  }
  @media #{$screen-min-lg}{
    .cols{
      flex: 1;
      &.item-2{
        flex-direction: column;
      }
    }
    &.layout-media-watch{
      .cols-inner{
        flex: 1;
        &.item-inner-1{
          margin-bottom: 20px;
        }
      }
      .cols-inner-item{
        flex: 1;
        &.item-in-in-1{
          margin-right: 20px;
        }
      }
      .media{
        .media-content{
          padding: 0 15px 15px;
        }
        .media-title{
          @include fluid-type(18px, 23px);
          @include fluid-line(24px, 29px);
        }
      }
    }
    &.layout-media-read{
      .cols{
        flex: 1;
        &.item-1{
          flex: 1.5;
          padding-right: 15px;
        }
        &.item-2{
          padding-left: 15px
        }
      }
    }
    .featured{
      .media{
        .media-content{
          padding: 0 20px 20px;
        }
        .media-title{
          @include font($s: 37px);
          line-height: 43px;
        }
      }
    }
  }
  @media #{$screen-min-xl}{
    &.layout-media-watch{
      .media{
        .media-content{
          padding: 0 30px 30px;
        }
      }
    }
    .featured{
      .media{
        .media-content{
          padding: 0 50px 50px;
        }
        .media-title{
          @include font($s: 40px);
          line-height: 46px;
        }
      }
    }
  }
  @media #{$screen-max-lg}{
    .media{
      .media-content{
        padding: 0 20px 40px;
      }
      .media-title{
        @include font($s: 23px);
        line-height: 29px;
      }
    }
    &.layout-media-watch{
      .media{
        padding-bottom: 75%;
      }
      .cols{
        flex: 1;
      }
      .cols-inner,.cols-inner-item{
        flex: 100%;
      }
      .cols-inner{
        padding-top: 0;
      }
      .cols-inner-item{
        padding-top: 20px;
      }
    }
  }
  @media #{$screen-max-md}{
    &.layout-media-read{
      padding-top: 90px;
      .cols{
        flex: 100%;
        &.item-1{
          margin-bottom: 40px;
        }
      }
      .cols-inner{
        align-items: center;
        margin-top: 30px;
        padding-top: 0;
        border-top: 0;
        &:first-child{
          margin-top: 0;
        }
      }
    }
  }
  @media #{$screen-max-sm}{
    .media{
      padding-bottom: 100%;
    }
    &.layout-media-watch{
      .cols{
        flex: 100%;
        &.item-2{
          padding-top: 20px;
        }
      }
    }
    &.layout-media-read{
      .cols-inner{
        margin-top: 25px;
        .media-content{
          margin-left: 25px;
        }
      }
    }
  }
}
