/* Component => Login */
.popup-access{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }

  .card-access{
    background-color: $white;
    padding: 70px 40px 40px;
  }
  h4,p{
    text-align: center;
  }
  h4{
    margin-bottom: 15px;
  }
  p{
    color: $gray80;
  }
  .form-access{
    input{
      width: 100%;
    }
  }
  .forgot{
    label{
      text-align: right;
    }
    a{
      color: $primary100;
      display: inline-block;
    }
  }
  .register{
    @include font($s: 14px, $w: $regular);
    line-height: 22px;
    text-align: center;
    color: $gray100;
    a{
      color: $primary100;
    }
  }
  &.popup-reset-password{
    .register{
      a{
        color: $gray100;
      }
    }
  }

  @media #{$screen-min-sm}{
    .card-access{
      padding: 70px 40px 40px;
    }
  }
  @media #{$screen-min-md}{
    .form-access{
      padding: 60px 40px;
    }
  }
  @media #{$screen-max-md}{
    .form-access{
      padding: 40px 0;
    }
  }
  @media #{$screen-max-sm}{
    .card-access{
      height: 100%;
      padding-top: 100px;
    }
    .form-access{
      padding-bottom: 0;
    }
    .form-element{
      &.fe-half{
        width: 48.5%;
      }
      &.floatRight{
        float: right;
      }
    }
  }
  @media only screen and (max-width: 360px){
    .card-access{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
