/* Component => Media */
.media{
  @include position($p: relative);
  display: block;
  height: 0;
  overflow: hidden;
  z-index: 2;

  iframe, .m_overlay, .m_overlay-gradient, .m_overlay-image{
    @include position($p: absolute, $t: 0, $l: 0);
    width: 100%;
    height: 100%;
  }
  iframe{
    z-index: 3;
  }
  .m_overlay-image{
    z-index: 4;
  }
  .m_overlay{
    @include transition();
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
  }
  .m_border{
    @include position($p: absolute, $b: 0, $l: 0);
    @include transition();
    content: '';
    width: 100%;
    height: 8px;
    background-color: $primary100;
    opacity: 0;
    z-index: 6;
  }
  .m_overlay-gradient{
    z-index: 5;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(201.9deg, rgba(0,0,0,0) 16.56%, #000000 84.2%);
    background: -webkit-linear-gradient(201.9deg, rgba(0,0,0,0) 16.56%, #000000 84.2%);
    background: linear-gradient(201.9deg, rgba(0,0,0,0) 16.56%, #000000 84.2%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  }
  .m_run-time{
    @include position($r: 30px, $b: 50px);
  }
  .media-content{
    @include position($p: absolute, $b: 0, $l: 0);
    padding: 0 80px 50px 80px;
    background-color: transparent;
    z-index: 6;
  }
  .media-category{
    @include font($s: 12px, $w: $regular);
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: rgba(255,255,255,0.5);
    margin-bottom: 15px;
    display: inline-block;
  }
  .media-title{
    @include font($w: $semi-bold);
    color: $white;
    margin-bottom: 0;
  }
  .m_run-time{
    margin-top: 15px;
    @include position($p: relative, $r: initial, $b: initial);
  }
  .btn-watch-now{
    margin-top: 30px;
  }
  .btn-watch-play{
    margin-top: 20px;
  }
  .btn-read{
    margin-top: 20px;
  }
  &:hover{
    cursor: pointer;
    .m_border{
      opacity: 1;
    }
    .m_overlay{
      opacity: 0;
    }
  }
}

/* Video Ratio - 21:9 */
.media{
  &.ratio_21-9{
    padding-bottom: 41.90000%;
  }
  &.ratio_16-9{
    padding-bottom: 56.25%;
  }
  &.ratio_4-3{
    padding-bottom: 75%;
  }
  &.ratio_1-1{
    padding-bottom: 100%;
  }
}

@media #{$screen-max-md}{
  .media{
    .m_run-time{
      display: none;
    }
    .m_run-time{
      display: block;
    }
  }
}
@media #{$screen-min-md}{
  .media{
    .m_run-time{
      display: none;
    }
  }
}