/* Hamburger Nav Bars */
.nav-bars{
  @include position($p: relative);
  width: 43px;
  height: 43px;
  cursor: pointer;
  div{
    @include position($p: absolute, $l: 0);
    @include transition();
    width: 100%;
    height: 1.5px;
    background-color: $white;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    &:nth-child(1){
      @include position($t: 14px);
    }
    &:nth-child(2){
      @include position($t: 27px);
    }
  }
  &.open{
    div{
      @include position($t: 21px);
      background-color: $gray80;
      opacity: 0.5;
      &:nth-child(1){
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(2){
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

/* Secondary Navigation Menu*/
.popup-nav{
  .nav-top{
    @include position($p: relative);
    z-index: 999;
    padding-top: 15px;
    padding-bottom: 35px;
    .block{
      align-items: center;
      justify-content: flex-end;
      height: 100%;
    }
    .nav-cart{
      margin-right: 30px;
    }
    .nav-bars{
      width: 33px;
      height: 43px;
      div{
        background-color: rgba(101,101,101,0.5);
      }
    }
    .nav-back{
      @include position($p: absolute, $l: 50%);
      margin-left: 40px;
      padding-top: 3px;
    }
  }
  .search-box{
    width: 100%;
    &:after{
      clear: both;
      display: block;
      content: '';
    }
    .search-box_bar{
      float: left;
    }
    .search-box_input{
      width: 100%;
      height: 54px;
      line-height: 54px;
      padding: 0 20px;
      letter-spacing: 0.025em;
      @include placeholder{
        color: $disabled;
      }
    }
    .search-box_button{
      float: right;
    }
  }
  .nav-bottom{
    @include position($p: fixed, $t: 0);
    @include transition();
    height: 100%;
    background-color: $white;
    z-index: 99;
    padding-top: 80px;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar{
      width: 0;
      height: 0;
    }

    .d-flex{
      height: 100%;
      align-items: center;
      justify-content: flex-start;
    }
    .block{
      display: block;
      width: 100%;
    }
    .search-box{
      margin-bottom: 35px;
      .search-box_bar{
        width: calc(100% - 54px);
      }
      .search-box_input{
        @include font($s: 16px);
      }
      .search-box_button{
        width: 54px;
      }
      .btn-search{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 0;
        text-align: center;
        width: 100%;
        img{
          max-width: 22px;
          width: 100%;
        }
      }
    }
  }
  ul{
    li{
      @include position($p: relative);
      @include font($w: $semi-bold);
      @include transition();
      text-transform: uppercase;
      a{
        display: inline-block;
        color: rgba(10,10,10,0.5);
      }
      &:first-child{
        margin-top: 0 !important;
      }
      &:before{
        @include position($p: absolute, $t: 0, $l: 0);
        @include transition();
        display: block;
        content: '';
        width: 4px;
        height: 100%;
        background-color: $primary100;
        opacity: 0;
        visibility: hidden;
      }
      &:hover,&.active{
        a{
          color: $gray100;
        }
        &:before{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &.menu-primary{
      margin-bottom: 30px;
      li{
        a{
          display: block;
        }
      }
    }
  }
  &.active{
    .nav-bottom{
      @include position($r: 0);
    }
  }
  &.popup-search-bar{
    //z-index: 99;
    .block{
      background-color: $white;
    }
    .d-flex{
      justify-content: flex-end;
    }
    .search-box{
      max-width: 720px;
      margin: 0 auto;
      .search-box_bar{
        width: calc(100% - 96px);
      }
      .search-box_button{
        width: 84px;
      }
    }
  }
  &.popup-sub-menu-primary{
    background-color: rgba(10, 10, 10, 0.6);
    .nav-bottom{
      padding-top: 180px;
    }
  }
}

@media #{$screen-min-md}{
  .popup-nav{
    &.popup-cart{
      .nav-bottom{
        @include position($r: -70%);
        width: 70%;
      }
      &.active{
        .nav-bottom{
          @include position($r: 0);
        }
      }
    }
  }
}
@media #{$screen-min-lg}{
  .popup-nav{
    .nav-top{
      height: 96px;
      .nav-cart{
        display: none;
      }
      .nav-back{
        display: none;
      }
    }
    .nav-bottom{
      @include position($r: -50%);
      width: 50%;
      padding-left: 40px;
      padding-right: 40px;
      .search-box,.menu-primary{
        display: none;
      }
    }
    ul{
      li{
        padding-left: 25px;
        margin-top: 25px;
      }
      &.menu-secondary{
        li{
          @include font($s: 26px);
          line-height: 26px;
        }
      }
    }
    .btn-donate{
      margin: 40px 0 40px 25px;
    }
    &.popup-sub-menu-primary{
      display: none;
    }
    &.popup-cart{
      .nav-bottom{
        padding-top: 90px;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}
@media #{$screen-min-xl}{
  .popup-nav{
    .nav-bottom{
      @include position($r: -600px);
      width: 600px;
      padding-left: 70px;
      padding-right: 70px;
    }
    ul{
      li{
        margin-top: 30px;
        padding-left: 30px;
      }
      &.menu-secondary{
        li{
          @include font($s: 36px);
          line-height: 36px;
        }
      }
    }
    .btn-donate{
      margin: 60px 0 0 30px;
    }
    &.popup-cart{
      .nav-bottom{
        @include position($r: -600px);
        width: 600px;
      }
    }
  }
}
@media #{$screen-max-lg}{
  .popup-nav{
    .nav-top{
      height: 81px;
      padding-top: 20px;
      padding-bottom: 15px;
      .nav-back{
        @include position($p: absolute, $l: 50%);
        margin-left: 40px;
        padding-top: 3px;
      }
    }
    .nav-bottom{
      @include position($r: -50%);
      width: 50%;
      padding: 90px 40px 0;
      .d-flex{
        display: block;
      }
      .block{
        margin-bottom: 30px;
      }
    }
    ul{
      li{
        &:before{
          display: none;
        }
      }
      &.menu-primary{
        li{
          @include font($s: 30px);
          line-height: 30px;
          margin-top: 30px;
          a{
            color: $gray100;
          }
          &.hasChild{
            &:after{
              @include position($p: absolute, $t: 50%, $r: 0);
              @include translator($y: -50%);
              display: block;
              content: '';
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-left: 8px solid $gray100;
              border-bottom: 6px solid transparent;
            }
          }
        }
      }
      &.menu-secondary{
        li{
          @include font($s: 16px, $w: $medium);
          line-height: 16px;
          margin-top: 18px;
        }
      }
    }
    &.popup-cart{
      .nav-top{
        .nav-back{
          @include position($l: 30%);
          margin-left: 30px;
        }
      }
      .nav-bottom{
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  .btn-donate{
    margin: 40px 0 0;
  }
}
@media #{$screen-max-md}{
  .popup-nav{
    .nav-top{
      .nav-back{
        @include position($l: 0%);
      }
    }
    .nav-bottom{
      width: 70%;
    }
    ul{
      &.menu-primary{
        li{
          @include font($s: 26px);
          line-height: 26px;
        }
      }
    }
    &.popup-sub-menu-primary{
      .nav-top{
        .nav-back{
          @include position($l: 40%);
        }
      }
      .nav-bottom{
        width: 60%;
      }
    }
    &.popup-cart{
      .nav-top{
        .nav-back{
          @include position($l: 0%);
          margin-left: 20px;
        }
      }
      .nav-bottom{
        @include position($r: -100%);
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
      &.active{
        .nav-bottom{
          @include position($r: 0);
        }
      }
    }
  }
}
@media #{$screen-max-sm}{
  .popup-nav{
    .nav-top{
      .nav-back{
        margin-left: 30px;
      }
    }
    .nav-bottom{
      @include position($r: -100%);
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
    ul{
      li{
        margin-top: 20px;
      }
      &.menu-primary{
        li{
          @include font($s: 22px);
          line-height: 22px;
        }
      }
    }
    .btn-donate{
      margin: 30px 0 0;
      width: 100%;
    }
    &.popup-sub-menu-primary{
      .nav-top{
        .nav-back{
          @include position($l: 10%);
        }
      }
      .nav-bottom{
        width: 90%;
      }
    }
  }
}
