/* For Banner Overlapped by Container */
.page-banner{
  &.over_lpd-banner{
    padding-bottom: 400px;
  }
}
.over_lpd-container{
  margin-top: -400px;
}
@media #{$screen-max-md}{
  .over_lpd-container{
    margin-top: -350px;
  }
}