/* Component => Pagination */
.pagination{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .pagination-item{
    display: inline-block;
    @include font($s: 14px, $w: $semi-bold);
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: $gray50;
    margin-left: 7px;
    &:first-child{
      margin-left: 0;
    }
    &.active{
      background-color: $primary100;
      color: $gray100;
    }
    &.previous,&.next{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}