/* Component => Popups */
.popup{
  @include position($p: fixed, $t: 0, $l: 0);
  @include transition();
  z-index: 9999999;
  width: 100%;
  height: 100vh;
  background-color: rgba(10,10,10,0.7);
  opacity: 0;
  visibility: hidden;
  .popup-overlay{
    @include position($p: absolute, $t: 0, $l: 0);
    width: 100%;
    height: 100%;
  }
  &.active{
    opacity: 1;
    visibility: visible;
  }
  &.popup-center-xy{
    .nav-bars{
      @include position($p: absolute, $t: -50px, $r: -50px);
      width: 28px;
      height: 38px;
      z-index: 99;
      div{
        @include position($t: 21px);
        //background-color: rgba(101,101,101,0.5);
        background-color: rgba(193,199,208,0.5);
        &:nth-child(1){
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(2){
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }

  @media #{$screen-min-sm}{
    .center-xy{
      @include position($p: absolute, $t: 50%, $l: 50%);
      @include translator(-50%,-50%);
    }
  }
  @media #{$screen-max-md}{
    &.popup-center-xy{
      .nav-bars{
        top: 10px;
        right: 20px;
      }
    }
  }
  @media #{$screen-max-sm}{
    &.popup-center-xy{
      background-color: $white;
    }
    .center-xy{
      @include position($p: absolute, $t: 0, $l: 0);
      width: 100%;
      max-width: 100%;
    }
  }
}