/* Custom Select Dropdown */
.select-single{
  @include position($p: relative);
}
.select-box{
  display: inline-block;
  width: 165px;
  text-align: left;
}
.select-box_value{
  @include position($p: relative);
  @include transition();
  width: 100%;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 6px 35px 6px 12px;
  background-color: $gray25;
  border: 1px solid $gray0;
}
.select-box_input-text {
  @include font($s: 14px, $w: $semi-bold);
  color: $gray100;
  width: 100%;
}
.select-box_icon {
  @include position($p: absolute, $t: 50%, $r: 15px);
  @include translator($y: -50%);
  width: 16px;
}
.select-box_list {
  @include position($p: absolute, $t: 45px, $r: 0);
  background-color: $white;
  position: absolute;
  width: 210px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  border: 1px solid $gray0;
  padding: 42px 0 0;
  box-shadow: 0 15px 12px rgba(23, 43, 77, 0.08), 0 8px 5px rgba(23, 43, 77, 0.04);
  &.showMenu{
    opacity: 1;
    visibility: visible;
  }
  &:before{
    @include position($p: absolute, $t: 0, $l: 0);
    @include font($f: $base-font, $s: 12px, $w: $semi-bold);
    line-height: 42px;
    color: $gray80;
    width: 100%;
    height: 42px;
    display: block;
    content: 'Short by';
    padding: 0 20px;
  }
}
.select-box_option {
  @include font($s: 14px, $w: $semi-bold);
  line-height: 22px;
  display: block;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
  color: $gray100;
  &:hover,&:focus{
    color: $gray100;
    background-color: $primary100;
  }
}
.select-box-multiple{
  @include position($p: relative);
  width: 100%;
}
.select-box-multiple_value{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  &.activeMenu{
    background-color: $white;
    border-color: $primary100;
  }
}
.select-box-multiple_list{
  width: 100%;
  padding-top: 0;
  &:before{
    display: none;
  }
}
.select-box-multiple_input-text{
  @include font($s: 12px, $w: $regular);
  @include position($p: relative);
  @include transition();
  line-height: 22px;
  color: $gray100;
  background-color: $white;
  padding: 0 20px 0 7px;
  margin-right: 7px;
}
.sbValueRemove{
  @include position($p: absolute, $t: 50%, $r: 5px);
  @include translator($y: -50%);
  cursor: pointer;
  img{
    width: 100%;
    display: block;
  }
}
.select-box-multiple_value{
  &.activeMenu{
    .select-box-multiple_input-text{
      background-color: $gray0;
    }
  }
}

@media #{$screen-max-sm}{
  .select-single{
    label{
      width: 55px;
    }
    .select-box-single{
      width: calc(100% - 70px);
    }
  }
}