/* Cart Popup/Page */
.cart{
  .cart-head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .cart-title{
    @include font($w: $bold);
    @include fluid-type(24px, 30px);
    @include fluid-type(32px, 38px);
    color: $gray100;
  }
  .cart-item{
    @include font($s: 16px, $w: $semi-bold);
    line-height: 24px;
  }
  .cart-product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid $gray50;
  }
  .cart-product-image{
    img{
      width: 100%;
      display: block;
    }
  }
  .cart-content-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .cart-product-name{
    @include font($w: $bold);
    color: $gray100;
  }
  .cart-product-clear{
    @include font($s: 12px, $w: $bold);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    img{
      display: inline-block;
      vertical-align: text-bottom;
      width: 14px;
      opacity: 0.5;
    }
    a{
      display: inline-block;
      color: #A1A1A1;
    }
  }
  .cart-content-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    span{
      display: inline-block;
    }
    > span{
      color: $gray80;
      text-transform: capitalize;
    }
    .cart-number{
      margin-left: 10px;
      display: inline-flex;
      span,input{
        @include font($w: $semi-bold);
        height: 32px;
        line-height: 32px;
      }
      input{
        @include font($s: 12px);
        width: 35px;
      }
      span{
        @include font($s: 14px);
        width: 20px;
      }
    }
    .cart-subtotal-amount{
      @include font($s: 23px, $w: $bold);
      line-height: 31px;
      color: $gray100;
      margin-left: 5px;
      vertical-align: middle;
    }
  }
  .cart-footer{
    margin-bottom: 40px;
  }
  .cart-coupon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
  }
  .cart-input-coupon{
    @include font($s: 16px);
    width: 220px;
    margin-right: 5px;
    @include placeholder{
      @include font($s: 16px);
    }
  }
  .cart-submit-coupon{
    @include font($s: 16px);
    width: 90px;
    text-align: center;
    background-color: $white;
    border-color: $primary100;
  }
  .cart-total{
    text-align: right;
  }
  .cart-total-text{
    @include font($w: $semi-bold);
    color: $gray80;
    &:first-child{
      margin-top: 0;
    }
    span{
      display: inline-block;
      width: 130px;
      margin-left: 10px;
    }
  }
  .cart-grand-total{
    @include font($w: $bold);
    color: $gray100;
  }
  .cart-checkout{
    .btn-continue{
      @include font($s: 16px, $w: $semi-bold);
      color: #A1A1A1;
      margin-right: 40px;
    }
  }

  @media #{$screen-min-sm}{
    .cart-product-image{
      width: 60px;
      margin-right: 30px;
    }
    .cart-product-contents{
      width: calc(100% - 90px);
    }
    .cart-product-name{
      @include font($s: 18px);
      line-height: 26px;
    }
    .cart-content-bottom{
      > span{
        @include font($s: 12px, $w: $bold);
        line-height: 20px;
      }
    }
    .cart-total{
      margin-bottom: 20px;
    }
    .cart-total-text{
      @include font($s: 14px);
      line-height: 22px;
      margin-top: 5px;
    }
    .cart-grand-total{
      @include font($s: 18px);
      line-height: 26px;
    }
    .cart-checkout{
      text-align: right;
    }
  }
  @media #{$screen-max-sm}{
    .cart-product-image{
      width: 100%;
      max-width: 160px;
      margin: 0 auto 30px;
    }
    .cart-product-contents{
      width: 100%;
    }
    .cart-product-name{
      @include font($s: 22px);
      line-height: 30px;
    }
    .cart-content-bottom{
      > span{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include font($s: 18px, $w: $medium);
        line-height: 26px;
        width: 100%;
        margin-top: 15px;
        span{
          @include font($w: $bold);
        }
        &:first-child{
          margin-top: 0;
        }
      }
    }
    .cart-total{
      margin-bottom: 60px;
    }
    .cart-total-text{
      @include font($s: 18px);
      line-height: 26px;
      margin-top: 10px;
    }
    .cart-grand-total{
      @include font($s: 22px);
      line-height: 30px;
    }
    .cart-checkout{
      text-align: center;
      .btn-continue,.btn-checkout{
        display: block;
      }
      .btn-continue{
        margin: 0 0 20px;
      }
    }
  }
}