/* Checkout Page */
.page-checkout{
  .checkout-head{
    align-items: center;
    justify-content: space-between;
    p{
      @include font($w: $medium);
      display: inline-block;
      margin-right: 10px;
    }
  }
  .checkout-body{
    h5{
      text-transform: capitalize;
    }
  }
  .checkout-orders{
    margin-bottom: 0;
  }
  .form-details{
    input,select,textarea{
      width: 100%;
    }
    textarea{
      resize: vertical;
      min-height: 50px;
      max-height: 100px;
    }
    .submit{
      margin-bottom: 0;
    }
  }
  .order-details-list{
    background-color: $gray25;
    .order-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 25px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(173,173,173,0.5);

      span{
        @include font($s: 18px, $w: $medium);
        line-height: 18px;
        color: $gray100;
      }
      &.order-list-total{
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        span{
          @include font($s: 24px);
          line-height: 24px;
        }
      }
    }
  }
  .payment-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .payment-companies{
      display: inline-block;
    }
    .custom-checkbox{
      color: $gray100;
      &.payment-paypal{
        margin-top: 0;
        margin-left: 40px;
        img{
          width: 66px;
          display: block;
        }
      }
    }
  }

  @media #{$screen-min-sm}{
    .checkout-head{
      margin-bottom: 50px;
      h4{
        margin-bottom: 0;
      }
    }
    .order-details{
      margin-bottom: 55px;
    }
    .order-details-list{
      padding: 70px 20px 105px;
    }
    .payment-options{
      .custom-checkbox{
        &.payment-paypal{
          margin-left: 20px;
        }
      }
    }
  }
  @media #{$screen-min-md}{
    .order-details-list{
      padding-left: 40px;
      padding-right: 40px;
    }
    .payment-options{
      .custom-checkbox{
        &.payment-paypal{
          margin-left: 40px;
        }
      }
    }
  }
  @media #{$screen-min-lg}{
    .order-details-list{
      padding-bottom: 105px;
    }
  }
  @media #{$screen-max-sm}{
    .checkout-head{
      margin-bottom: 40px;
      h4{
        margin-bottom: 20px;
      }
      p{
        display: block;
        margin: 0 0 10px;
      }
      .btn{
        display: block;
      }
    }
    .checkout-title,.checkout-link{
      width: 100%;
    }
    .checkout-body{
      h5{
        margin-bottom: 20px;
      }
    }
    .order-details{
      margin-bottom: 40px;
    }
    .order-details-list{
      padding: 70px 20px 70px;
    }
  }
}