/* Contact Page */
.page-contact{
  .contact-block{
    .contact-form{
      input,textarea{
        width: 100%;
      }
      textarea{
        min-height: 130px;
      }
    }
    .contact-map{
      iframe{
        width: 100%;
        display: block;
      }
    }
  }

  @media #{$screen-min-md}{
    .contact-block{
      .contact-form{
        margin-right: 30px;
      }
      .contact-form,.contact-map{
        width: calc(100%/2 - 30px/2);
      }
    }
  }
  @media #{$screen-min-lg}{
    .contact-block{
      .contact-form{
        width: 410px;
        margin-right: 45px;
      }
      .contact-map{
        width: calc(100% - 455px);
      }
    }
  }
  @media #{$screen-min-xl}{
    .contact-block{
      .contact-form{
        width: 410px;
        margin-right: 60px;
      }
      .contact-map{
        width: calc(100% - 470px);
      }
    }
  }
}