/* FAQ Page */
.page-faq{
  .page-banner{
    padding-top: 98px;
  }
  .breadcrumb{
    padding-bottom: 0;
  }
  .faq-head{
    padding: 140px 0;
    text-align: center;
    background-position: center top -15px;
    h4{
      margin-bottom: 0;
    }
  }
  .faq-body{
    margin: 0 auto;
    max-width: 820px;
    width: 100%;
  }
  .faq-list{
    @include position($p: relative);
    background-color: $gray25;
    margin-bottom: 5px;
    &:after{
      @include position($p: absolute, $b: 0, $l: 0);
      @include transition();
      display: block;
      content: '';
      width: 100%;
      height: 8px;
      background-color: $primary100;
      opacity: 0;
    }
    &.active{
      &:after{
        opacity: 1;
      }
    }
  }
  .faq-title{
    @include position($p: relative);
    margin-bottom: 0;
    text-transform: uppercase;
    color: $gray100;
    letter-spacing: 0.01em;
    cursor: pointer;
    padding-right: 30px;
    &:after{
      @include position($p: absolute, $t: 6px, $r: 0px);
      @include transition();
      display: block;
      content: '';
      width: 15px;
      height: 7px;
      background-image: url(images/icon-chevron-down-alt);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &.current{
      &:after{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .faq-content{
    letter-spacing: 0.01em;
    //padding: 15px 40px 8px 0;
    color: $gray80;
    display: none;
  }

  @media #{$screen-min-sm}{
    .faq-list{
      padding: 20px 30px;
    }
    .faq-content{
      padding: 15px 30px 8px 0;
    }
  }
  @media #{$screen-min-lg}{
    .faq-list{
      padding: 30px 40px;
    }
    .faq-content{
      padding-right: 40px;
    }
  }
  @media #{$screen-max-lg}{
    .page-banner{
      padding-top: 83px;
    }
  }
  @media #{$screen-max-sm}{
    .faq-list{
      padding: 20px;
    }
    .faq-content{
      padding: 15px 30px 8px 0;
    }
  }
}