/* Give Page */
.page-give{
  .give{
    h4{
      @include font($s: 33px);
      line-height: 39px;
      letter-spacing: 0.01em;
      text-align: center;
      text-transform: uppercase;
      color: rgba(10,10,10,0.9);
      margin-bottom: 60px;
    }
  }
  .tab-head{
    margin-bottom: 80px;
  }
  .method-donation{
    .method-list{
      @include font($w: $semi-bold);
      @include fluid-type(16px, 20px);
      @include fluid-line(22px, 26px);
      @include transition();
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: $gray100;
      text-align: center;
      border: 1px solid rgba(161,161,161,0.5);
      padding: 0 20px;
      width: 100%;
      height: 90px;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &:first-child{
        margin-left: 0;
      }
      &:hover, &.active{
        background-color: $primary100;
      }
    }
  }
  .give-body{
    .section{
      .wrapper-md{
        max-width: 830px;
      }
    }
  }
  .method-body{
    h6{
      margin-bottom: 15px;
    }
    .p-lg{
      margin-bottom: 40px;
    }
    .method-detail{
      margin-bottom: 70px;
    }
    .md-inner{
      margin-bottom: 30px;
    }
    .list-amount{
      @include font($s: 18px, $w: $medium);
      height: 46px;
      line-height: 46px;
      color: $gray100;
      padding: 0 20px;
      background-color: $gray0;
      margin-left: 5px;
      cursor: pointer;
      &:first-child{
        margin-left: 0;
      }
      &.selected{
        background-color: $primary100;
      }
    }
    .list-input{
      padding: 0;
      input{
        @include font($s: 18px, $w: $medium);
        color: $gray100;
        height: 46px;
        line-height: 46px;
        max-width: 100px;
        @include placeholder{
          @include font($s: 18px, $w: $medium);
          color: $disabled
        }
      }
    }
    .method-payment{
      margin-bottom: 50px;
      .form-element{
        margin-left: 20px;
      }
      .form-radio,.card-number{
        margin-left: 0;
      }
      .form-radio{
        margin-bottom: 30px;
      }
      .card-number{
        input{
          width: 100%;
        }
        width: calc(100% - 310px);
      }
      .expiry-date,.cvc{
        width: 135px;
        input{
          width: 100%;
        }
      }
    }
    .method-billing{
      h5{
        margin-bottom: 20px;
      }
      .method-form{
        input,select{
          width: 100%;
        }
      }
    }
  }
  .method-footer{
    padding-top: 60px;
    border-top: 1px solid #D0D0D0;
  }
  .note-title{
    @include font($s: 16px, $w: $regular);
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: $gray100;
    margin-bottom: 15px;
  }
  .note-text{
    color: $gray80;
  }
  .list-note{
    @include font($s: 10px, $w: $regular);
    display: inline-block;
    background-color: rgba(254,203,4,0.2);
    line-height: 16px;
    color: $gray80;
    padding: 7px 15px;
    margin-top: 15px;
  }
  .method-2{
    .method-logo{
      max-width: 78px;
      width: 100%;
      display: block;
      margin-bottom: 40px;
    }
    .media{
      .m_overlay{
        background-color: rgba(10,10,10,0.4);
      }
    }
    .method-footer{
      border-top: 0 none;
    }
  }
  .method-3{
    .ul-counter{
      counter-reset: li-counter;
      li{
        @include position($p: relative);
        @include font($s: 16px, $w: $medium);
        line-height: 22px;
        padding-left: 54px;
        color: $gray100;
        margin-top: 25px;
        counter-increment: li-counter;
        a{
          @include position($p: relative);
          display: inline-block;
          color: $gray100;
          &:after{
            @include position($p: absolute, $b: -2px, $l: 0);
            content: '';
            width: 100%;
            height: 3px;
            background-color: $primary100;
          }
        }
        &:before{
          @include position($p: absolute, $t: 50%, $l: 0);
          @include translator($y: -50%);
          @include font($s: 16px, $w: $semi-bold);
          color: #000000;
          width: 33px;
          height: 33px;
          line-height: 33px;
          background-color: $primary100;
          content: counter(li-counter);
          text-align: center;
        }
        &:first-child{
          margin-top: 0;
        }
      }
    }
    .list-note{
      margin-left: 54px;
    }
  }

  @media #{$screen-min-sm}{
    .tab-head{
      margin-top: 70px;
    }
    .method-donation{
      .method-list{
        height: 100px;
        margin-left: 20px;
        width: calc(100%/3 - 40px/3);
      }
    }
    .method-body{
      .method-content{
        margin-bottom: 60px;
      }
    }
    .method-2{
      .media{
        .media-content{
          padding: 0 30px 30px;
        }
      }
    }
  }
  @media #{$screen-min-lg}{
    .give{
      padding: 60px 0;
    }
    .method-donation{
      .method-list{
        height: 134px;
        margin-left: 20px;
        width: calc(100%/3 - 40px/3);
      }
    }
    .method-body{
      .method-content{
        margin-bottom: 70px;
      }
    }
  }
  @media #{$screen-min-xl}{
    .give{
      padding: 80px 0;
    }
    .tab-head{
      margin-bottom: 80px;
    }
    .method-body{
      .method-content{
        margin-bottom: 80px;
      }
    }
    .method-2{
      .media{
        .media-content{
          padding: 0 50px 50px;
        }
      }
    }
  }
  @media #{$screen-max-lg}{
    .give{
      padding-top: 65px;
    }
  }
  @media #{$screen-max-sm}{
    .page-banner{
      padding-bottom: 0;
    }
    .tab-head{
      margin-bottom: 60px;
    }
    .method-donation{
      .method-list{
        margin-bottom: 15px;
      }
    }
    .method-body{
      .method-content{
        margin-bottom: 60px;
      }
      .list-amount{
        width: calc(100%/4 - 15px/4);
        text-align: center;
      }
      .list-input{
        width: 100%;
        margin: 5px 0 0;
      }
      .method-payment{
        .card-number{
          width: 100%;
        }
        .expiry-date,.cvc{
          width: calc(100%/2 - 20px/2);
        }
        .expiry-date{
          margin-left: 0;
        }
      }
    }
    .list-note{
      @include font($s: 14px, $w: $medium);
      line-height: 20px;
    }
    .method-2{
      .method-content{
        .btn{
          width: 100%;
        }
      }
      .method-video{
        .wrapper{
          padding: 0;
        }
      }
      .media{
        .media-content{
          padding: 0 30px 30px;
        }
      }
    }
  }
}