/* Home | Index Page */
.page-home{
  .page-banner{
    .pb-title{
      @include fluid-type(26px, 52px);
      @include fluid-line(32px, 58px);
    }
  }
}

/* Section Newsletter */
.newsletter{
  .index-form{
    .form-element{
      input,.btn-search{
        width: 100%;
      }
      input{
        @include font($s: 16px);
        height: 54px;
        line-height: 54px;
        @include placeholder{
          @include font($s: 16px);
        }
      }
    }
    .send{
      width: 85px;
      margin-left: 10px;
    }
    .email{
      width: calc(100% - 95px);
    }
  }
  .note-form{
    @include font($s: 12px, $w: $regular);
    text-align: center;
    line-height: 18px;
    max-width: 480px;
    margin: 0 auto;
    color: rgba(255,255,255,0.6);
  }
}

/* Section Shop */
.index-shop{
  .sectionHeading{
    margin-bottom: 15px;
  }
  .p-lg{
    text-align: center;
    color: $gray100;
  }
  .cat-title{
    @include font($w: $bold);
  }
  .product-list{
    .list-item{
      .list-figure{
        background-size: contain;
        padding-top: 100%;
        border-color: $primary100;
      }
    }
  }
}

/* Section Social => Instagram */
.index-social{
  padding-bottom: 0;
  .sectionHeading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    span{
      @include position($p: relative);
      margin-left: 15px;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      .icon-insta{
        display: inline-block;
        width: 100%;
        margin-top: -3px;
        margin-right: 10px;
      }
    }
  }
  .insta-gallery{
    .eapps-instagram-feed-posts-grid-load-more-container.eapps-instagram-feed-posts-grid-load-more-enabled{
      display: none;
    }
    .eapps-instagram-feed-container{
      @include position($p: relative);
      z-index: 999999;
      margin-bottom: -44px;
    }

    /*.eapps-instagram-feed{
      > a{
        display: none;
      }
    }*/
  }
}

@media #{$screen-min-sm}{
  .newsletter{
    .index-form{
      .form-element{
        margin-bottom: 30px;
      }
    }
  }
  .index-shop{
    .p-lg{
      margin-bottom: 60px;
    }
    .product-list{
      .list-item{
        .list-figure{
          border-width: 10px;
        }
      }
    }
  }
  .index-social{
    padding-top: 20px;
    .sectionHeading{
      span{
        .icon-insta{
          max-width: 30px;
        }
      }
    }
  }
}
@media #{$screen-min-md}{
  .index-shop{
    .product-list{
      .list-item{
        .list-figure{
          border-width: 15px;
        }
      }
    }
  }
}
@media #{$screen-min-lg}{
  .page-banner{
    padding-top: 200px;
    .pb-container{
      margin-bottom: 145px;
    }
  }
  .index-shop{
    .p-lg{
      margin-bottom: 80px;
    }
  }
  .index-social{
    .sectionHeading{
      span{
        .icon-insta{
          max-width: 35px;
        }
      }
    }
  }
}
@media #{$screen-min-xl}{
  .index-shop{
    .p-lg{
      margin-bottom: 100px;
    }
  }
  .index-social{
    padding-top: 70px;
    .sectionHeading{
      span{
        .icon-insta{
          max-width: 40px;
        }
      }
    }
  }
}

@media #{$screen-max-md}{
  .index-shop{
    padding: 100px 0;
  }
}
@media #{$screen-max-sm}{
  .page-banner{
    background-size: cover;
    padding-bottom: 40px;
  }
  .newsletter{
    padding: 100px 0;
    .wrapper-md{
      padding: 0 40px;
    }
    .index-form{
      .form-element{
        width: 100%;
        margin-bottom: 15px;
        &.send{
          margin-left: 0;
          margin-bottom: 35px;
        }
      }
    }
  }
  .index-shop{
    padding-bottom: 50px;
    .p-lg{
      margin-bottom: 60px;
    }
    .product-list{
      .list-item{
        .list-figure{
          border-width: 10px;
        }
      }
    }
  }
  .index-social{
    padding-top: 70px;
    .sectionHeading{
      line-height: 40px;
      span{
        @include font($s: 18px);
        display: flex;
        width: 100%;
        justify-content: center;
        padding-left: 0;
        .icon-insta{
          max-width: 25px;
        }
      }
    }
  }
}
