/* Product Page */
.page-product{
  .product-single{
    margin-bottom: 50px;
  }
  .product-image{
    &:after{
      clear: both;
      display: block;
      content: '';
    }
    img{
      width: 100%;
      display: block;
    }
  }
  .product-preview{
    @include position($p: relative);
    background-color: $gray25;
    border: 1px solid $gray25;

    -webkit-box-shadow: 0 3px 2px rgba(23,43,77,0.08), 0 0 2px rgba(23,43,77,0.04);
    -moz-box-shadow: 0 3px 2px rgba(23,43,77,0.08), 0 0 2px rgba(23,43,77,0.04);
    box-shadow: 0 3px 2px rgba(23,43,77,0.08), 0 0 2px rgba(23,43,77,0.04);
  }
  .icon-magnifier{
    @include position($p: absolute, $t: 15px, $r: 15px);
    width: 46px;
    height: 46px;
    background-color: rgba(10,10,10,0.05);
    cursor: pointer;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img{
      width: auto;
    }
  }
  .product-slick{
    &:after{
      clear: both;
      display: block;
      content: '';
    }
  }
  .product-slick-list{
    @include position($p: relative);
    cursor: pointer;
    background-color: $gray25;
    border: 1px solid $gray25;
    overflow: hidden;

    -webkit-box-shadow: 0 3px 2px rgba(23,43,77,0.08), 0 0 2px rgba(23,43,77,0.04);
    -moz-box-shadow: 0 3px 2px rgba(23,43,77,0.08), 0 0 2px rgba(23,43,77,0.04);
    box-shadow: 0 3px 2px rgba(23,43,77,0.08), 0 0 2px rgba(23,43,77,0.04);

    &:before{
      @include position($p: absolute, $t: 0, $l: 0);
      width: 100%;
      height: 100%;
      display: block;
      content: '';
      background-color: transparent;
      border: 2px solid $primary100;
      opacity: 0;
      visibility: hidden;
    }
    &.active{
      box-shadow: 0 3px 2px rgba(23, 43, 77, 0.08), 0 0 2px rgba(23, 43, 77, 0.04);
      &:before{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .product-title{
    @include fluid-type(32px, 40px);
    @include fluid-line(38px, 46px);
    margin-bottom: 10px;
  }
  .product-price{
    @include fluid-type(22px, 30px);
    @include fluid-line(30px, 38px);
  }
  .product-description{
    margin-bottom: 30px;
    > *{
      color: $gray80;
      margin-bottom: 20px;
    }
    p{
      color: $gray80;
    }
  }
  .product-sku,.product-sku-title{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .product-sku{
    .product-sku-title{
      @include font($s: 14px, $w: $semi-bold);
      margin-right: 15px;
      color: $gray100;
    }
    .product-sku-list{
      display: flex;
      flex-direction: row;
    }
    .product-sku-item{
      @include position($p: relative);
      @include font($s: 14px, $w: $semi-bold);
      color: $gray100;
      width: 36px;
      height: 36px;
      background-color: $white;
      cursor: pointer;
    }
    .product-sku-item-type{
      @include position($p: absolute, $t: 50%, $l: 50%);
      @include translator(-50%,-50%);
    }
    &.product-sku-color{
      margin-right: 45px;
      .product-sku-item{
        border: 1px solid #A1A1A1;
        margin-left: 10px;
        &:first-child{
          margin-left: 0;
        }
        &.selected{
          border-color: $primary100;
          border-width: 2px;
        }
      }
    }
    &.product-sku-size{
      .product-sku-item{
        &.selected{
          background-color: $gray25;
        }
      }
    }
  }
  .product-attributes{
    margin-bottom: 30px;
    &:after{
      clear: both;
      display: block;
      content: '';
    }
  }
  .product-action{
    margin-bottom: 50px;
    &:after{
      clear: both;
      display: block;
      content: '';
    }
  }
  .product-quantity-picker, .product-add-cart{
    display: inline-block;
  }
  .product-quantity-picker{
    margin-right: 16px;
  }
  .product-sku-number,.product-sku-category{
    @include font($s: 16px, $w: $medium);
    color: $gray100;
    a{
      display: inline-block;
      color: $disabled;
    }
  }
  .product-sku-number{
    margin-bottom: 5px;
  }
  .product-detail{
    margin-bottom: 50px;
  }
  .tab-head{
    border-bottom: 2px solid rgba(209,209,209,0.5);
    padding-bottom: 12px;
    margin-bottom: 35px;
    li{
      @include position($p: relative);
      @include font($s: 14px, $w: $semi-bold);
      letter-spacing: 0.06em;
      text-transform: uppercase;
      display: inline-block;
      margin-left: 30px;
      cursor: pointer;
      &:first-child{
        margin-left: 0;
      }
      &:after{
        @include position($p: absolute, $b: -14px, $l: 0);
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background-color: $primary100;
        opacity: 0;
        visibility: hidden;
      }
      a{
        color: rgba(10,10,10,0.5);
      }
      &.active{
        &:after{
          opacity: 1;
          visibility: visible;
        }
        a{
          color: rgba(10,10,10,1);
        }
      }
    }
  }
  .product-specifications{
    max-width: 620px;
    .product-property{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: $border;
      &:first-child{
        border-top-width: 1px;
      }
      span{
        padding: 10px 15px;
        color: $gray100;
        width: 50%;
      }
      .pp-title{
        @include font($s: 16px, $w: $semi-bold);
        line-height: 22px;
        letter-spacing: 0.01em;
      }
      .pp-description{
        @include font($s: 14px, $w: $regular);
        line-height: 20px;
        border-left: 1px solid $border;
      }
    }
  }
  .product-review{
    .review-detail{
      margin-top: 30px;
      &:first-child{
        margin-top: 0;
      }
      &:after{
        clear: both;
        display: block;
        content: '';
      }

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    .review-title{
      width: 50%;
      span{
        display: block;
      }
      .customer-name{
        @include font($s: 18px, $w: $medium);
        line-height: 24px;
        color: $gray100;
      }
      .review-date{
        @include font($s: 12px, $w: $regular);
        line-height: 18px;
        color: $gray80;
      }
    }
    .rr-stars{
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      direction: rtl;
      .star{
        @include position($p: relative);
        width: 24px;
        height: 24px;
        background-image: url(images/icon-star.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        &:first-child{
          margin-left: 0;
        }
      }
      &.rating-stars{
        .star:hover, .star:hover ~ .star{
          background-image: url(images/icon-star-fill.png);
        }
      }
      &.rated-stars{
        direction: ltr;
        .rated{
          pointer-events: none;
          background-image: url(images/icon-star-fill.png);
        }
      }
    }
    .review-rating{
      width: 50%;
      text-align: right;
      li{
        img{
          width: auto;
        }
      }
    }
    .review-text{
      @include font($s: 14px, $w: $regular);
      line-height: 20px;
      width: 100%;
      color: $gray80;
      display: block;
      margin-top: 15px;
    }
    .add-review-title{
      margin-bottom: 20px;
    }
    .add-review-rating{
      @include font($s: 16px, $w: $semi-bold);
      color: $gray100;
      margin-bottom: 20px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      ul{
        margin-left: 30px;
      }
    }
    .add-review-message{
      input,select,textarea{
        width: 100%;
      }
    }
  }
  .related-products{
    .list-item{
      margin-bottom: 20px;
    }
  }

  @media #{$screen-min-sm}{
    .product-preview{
      width: 100%;
      margin-bottom: 15px;
    }
    .product-slick{
      width: 100%;
    }
    .product-slick-list{
      float: left;
      margin-bottom: 10px;
    }
    .related-products{
      .list-item{
        margin-left: 20px;
        width: calc(100%/3 - 40px/3);
        &:nth-child(3n+1){
          margin-left: 0;
        }
      }
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px){
    .product-slick-list{
      margin-left: 10px;
      width: calc(100%/3 - 20px/3);
      &:nth-child(3n+1){
        margin-left: 0;
      }
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 739px){
    .product-sku{
      &.product-sku-color{
        margin-bottom: 30px;
      }
    }
  }

  @media #{$screen-min-md}{
    .product-preview{
      float: right;
      width: calc(100% - 70px);
    }
    .product-slick{
      float: left;
      margin-right: 15px;
      width: 55px;
      display: block;
    }
    .product-slick-list{
      width: 100%;
    }
    .product-detail{
      margin-left: 70px;
      padding-left: 0;
    }
    .related-products{
      margin-left: 70px;
      margin-right: 35px;
      padding: 0;
    }
  }
  @media #{$screen-min-lg}{
    .product-preview{
      width: calc(100% - 90px);
    }
    .product-slick{
      margin-right: 20px;
      width: 70px;
    }
    .product-detail{
      margin-left: 90px;
    }
    .related-products{
      margin-left: 90px;
      margin-right: 40px;
      .list-item{
        margin-left: 30px;
        width: calc(100%/3 - 60px/3);
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
  @media #{$screen-min-xl}{
    .product-preview{
      width: calc(100% - 130px);
    }
    .product-slick{
      width: 90px;
      margin-right: 40px;
    }
    .product-detail{
      margin-left: 130px;
    }
    .related-products{
      margin-left: 130px;
      margin-right: 65px;
    }
  }
  @media #{$screen-max-lg}{}
  @media #{$screen-max-md}{}
  @media #{$screen-max-sm}{
    .product-image{
      margin-bottom: 30px;
    }
    .product-preview{
      width: 100%;
      margin-bottom: 15px;
    }
    .product-slick{
      width: 100%;
    }
    .product-slick-list{
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
      width: calc(100%/3 - 20px/3);
      &:nth-child(3n+1){
        margin-left: 0;
      }
    }
    .product-review{
      .customer-reviews{
        margin-bottom: 40px;
      }
    }
    .product-sku{
      &.product-sku-color{
        margin-right: 20px;
      }
    }
    .tab-head{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li{
        width: calc(100%/2);
        padding: 0 5px;
        text-align: center;
        margin: 0;
      }
    }
    .related-products{
      .list-item{
        margin-left: 0;
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: 349px){
    .product-sku{
      &.product-sku-color{
        margin-bottom: 30px;
      }
    }
  }
}