/* Shop Listing Page */
.page-shop{
  .page-banner{
    padding-bottom: 30px;
    &:before{
      background: rgb(10,10,10);
      background: -moz-linear-gradient(360deg, #0A0A0A 7.85%, rgba(10,10,10,0) 94.26%);
      background: -webkit-linear-gradient(360deg, #0A0A0A 7.85%, rgba(10,10,10,0) 94.26%);
      background: linear-gradient(360deg, #0A0A0A 7.85%, rgba(10,10,10,0) 94.26%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0a0a",endColorstr="#0a0a0a",GradientType=1);
    }
  }
  .filter-result{
    margin-bottom: 25px;
  }
  .pagination{
    margin-top: 30px;
    justify-content: flex-end;
  }

  @media #{$screen-min-lg}{
    .breadcrumb{
      padding-bottom: 30px;
    }
  }
  @media #{$screen-max-lg}{
    .page-banner{
      .carousel{
        display: none;
      }
      padding-bottom: 0;
    }
    .pagination{
      justify-content: center;
    }
  }
}

/* Product Category */
.product-container{
  .product-category{
    margin-top: 60px;
    &:first-child{
      margin-top: 0;
    }
  }
}

/* Product Head */
.product-head{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Product Listing */
.product-list{
  .list-item{
    .list-figure{
      @include position($p: relative);
      @include transition();
      z-index: 2;
      overflow: hidden;
      background-color: $white;
      padding-top: 115%;
      background-size: cover;

      border: 10px solid $gray25;

      &:before{
        @include position($p: absolute, $t: 0, $l: 0);
        @include transition();
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(10,10,10,0.5);
        opacity: 0;
        visibility: hidden;
        z-index: 3;
      }
      img{
        width: 100%;
        display: block;
      }
      .list-figure-product{
        @include position($p: absolute, $t: 0, $r: 0, $b: 0, $l: 0);
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }
      .btn-view{
        @include position($p: absolute, $t: 45%, $l: 50%);
        @include translator(-50%,-50%);
        @include transition();
        background-color: transparent;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
      }
      .btn-add{
        @include position($p: absolute, $b: -55px, $l: 0);
        @include transition();
        height: 55px;
        line-height: 55px;
        width: 100%;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
      }
    }
    .list-content{
      padding: 15px 0;
      text-align: left;
      span{
        letter-spacing: 0.01em;
        display: block;
        color: $gray100;
      }
      .list-title,.list-brand{
        @include font($s: 16px, $w: $regular);
        line-height: 16px;
        color: rgba(10,10,10,0.8);
      }
      .list-title{
        margin-bottom: 6px;
      }
      .list-brand{
        margin-bottom: 12px;
      }
      .list-price{
        @include font($w: $bold);
        @include fluid-type(16px, 18px);
        @include fluid-line(18px, 20px);
        .woocommerce-Price-currencySymbol{
          display: inline-block;
        }
      }
    }
    &:hover{
      .list-figure{
        border-color: $primary100;
        &:before,.btn-view,.btn-add{
          opacity: 1;
          visibility: visible;
        }
        .btn-add{
          @include position($b: -10px);
        }
      }
    }
  }
  @media #{$screen-max-sm}{
    .list-item{
      .list-figure{
        &:after{
          border-width: 6px;
        }
        .list-figure-product{
          padding-left: 6px;
          padding-right: 6px;
        }
        .btn-add{
          display: none;
        }
      }
    }
  }
}

.product-read{
  .product-list{
    .list-item{
      .list-figure{
        .btn-view{
          display: none;
        }
        .btn-add{
          @include translator($x: -50%);
          left: 50%;
          height: 35px;
          line-height: 35px;
          bottom: 0;
          width: 40%;
        }
      }
      &:hover{
        .list-figure{
          .btn-add{
            bottom: 30px;
          }
        }
      }
    }
  }
}
