/* Subscribe Page */
.page-subscribe{
  .subscribe-block{
    h4{
      margin-bottom: 10px;
    }
    .form-subscribe{
      margin-top: 30px;
      align-items: flex-end;
      input{
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 576px) and (max-width: 991px){
    .subscribe-block{
      .form-element{
        margin-left: 20px;
        width: calc(100%/2 - 20px/2);
        &:nth-child(odd){
          margin-left: 0;
        }
      }
    }
  }
  @media #{$screen-min-lg}{
    .subscribe-block{
      .form-element{
        margin-left: 15px;
        width: calc(100%/4 - 45px/4);
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
}