/* Team Members Page */
.page-team{
  .page-banner{
    padding: 180px 0 95px;
    .page-title{
      margin-bottom: 0;
    }
  }
  .the-team{
    @include position($p: relative);
    z-index: 3;
    background-color: transparent;
    padding: 0;
    .wrapper-xl{
      margin-top: -100px;
    }
  }
  .team-container{
    background-color: $white;
    padding-top: 80px;
  }
  .team-map{
    margin-bottom: 100px;
    img{
      width: 100%;
      display: block;
    }
  }
  .list-member{
    @include position($p: relative);
    z-index: 2;
    margin-bottom: 30px;
    &:before{
      @include position($p: absolute);
      @include transition();
      content: '';
      width: 100%;
      height: 100%;
      background-color: $primary100;
      z-index: 3;
      opacity: 0;
    }
    .list-member-info{
      @include position($p: relative);
      overflow: hidden;
      z-index: 4;
      &:after{
        @include position($p: absolute, $t: 0, $l: 0);
        content: '';
        width: 100%;
        height: 100%;
        z-index: 5;
        background: rgb(10,10,10);
        background: -moz-linear-gradient(360deg, rgba(10,10,10,1) 0%, rgba(10,10,10,0) 60.21%);
        background: -webkit-linear-gradient(360deg, rgba(10,10,10,1) 0%, rgba(10,10,10,0) 60.21%);
        background: linear-gradient(360deg, rgba(10,10,10,1) 0%, rgba(10,10,10,0) 60.21%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0a0a",endColorstr="#0a0a0a",GradientType=1);
        opacity: 0.8;
      }
    }
    .list-figure{
      @include position($p: relative);
      z-index: 4;
      img{
        @include transition();
        width: 100%;
        display: block;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
      }
      .img-hover{
        @include position($p: absolute, $t: 0, $l: 0);
        display: block;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
      }
    }
    .list-intro{
      @include position($p: absolute, $l: 0);
      @include transition();
      display: block;
      width: 100%;
      z-index: 6;
      span{
        text-transform: capitalize;
        display: block;
      }
      .member-name{
        @include font($w: $bold);
        @include fluid-type(16px, 23px);
        @include fluid-line(22px, 29px);
        color: $white;
        margin-bottom: 10px;
      }
      .member-post{
        @include font($w: $medium);
        @include fluid-type(12px, 18px);
        @include fluid-line(18px, 24px);
        @include transition();
        color: rgba(255,255,255,0.8);
      }
      .btn-meet{
        @include font($w: $bold);
        @include fluid-type(10px, 12px);
        @include fluid-line(14px, 16px);
        line-height: 18px;
        letter-spacing: 0.11em;
        color: $white;
        text-transform: uppercase;

        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        img{
          display: inline-block;
          width: 17px;
          margin-right: 3px;
        }
      }
    }
    &:hover{
      &:before{
        opacity: 1;
      }
      .list-figure{
        img{
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
        }
        .img-hover{
          opacity: 1;
          visibility: visible;
        }
      }
      .list-intro{
        @include position($b: 0);
        .member-post{
          margin-bottom: 20px;
        }
      }
    }
  }

  /* Team Member Details => Popup Details */
  .popup-team{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar{
      width: 0;
      height: 0;
    }
    .center-xy{
      max-width: 1550px;
    }
    .nav-bars{
      @include position($t: 20px, $r: 50px);
      div{
        background-color: $gray100;
      }
    }
    .team-card{
      background-color: $white;
    }
    .cols{
      width: 100%;
    }
    .team-single-map{
      @include position($p: relative);
      img{
        width: 100%;
        display: block;
      }
      .switch{
        @include position($p: absolute, $l: 60px, $b: 40px);
        background-color: $white;
        padding: 20px 30px;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .btn-switch{
          margin: 0 15px;
        }
        span{
          @include font($s: 14px, $w: $medium);
          line-height: 20px;
          color: $disabled;
          text-transform: capitalize;
          &.active{
            @include font($w: $semi-bold);
            color: $gray100;
          }
        }
      }
    }
    .info-head{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;
    }
    .tm-figure{
      @include radius(50%);
      display: inline-block;
      width: 135px;
      height: 135px;
      margin-right: 30px;
      overflow: hidden;
    }
    .tm-intro{
      display: inline-block;
      span{
        display: block;
      }
    }
    .tm-name{
      @include font($s: 23px, $w: $bold);
      line-height: 29px;
      color: $gray100;
    }
    .tm-post{
      @include font($s: 18px, $w: $medium);
      line-height: 24px;
      color: rgba(10,10,10,0.8);
    }
    .tm-info{
      color: rgba(10,10,10,0.7);
      margin-bottom: 40px;
    }
    .tm-qualities{
      max-width: 500px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li{
        @include font($s: 18px, $w: $medium);
        @include position($p: relative);
        display: inline-block;
        line-height: 24px;
        color: #000000;
        margin-left: 20px;
        margin-bottom: 30px;
        padding-left: 34px;
        width: calc(100%/2 - 20px/2);
        &:nth-child(odd){
          margin-left: 0;
        }
        &:before{
          @include position($p: absolute, $t: 0, $l: 0);
          display: block;
          content: '';
          width: 24px;
          height: 24px;

          background-image: url(images/icon-star-half.png);
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
          background-position: center;
        }
      }
    }
    .info-body{
      margin-bottom: 30px;
    }
    .info-footer,.paginate-buttons{
      &:after{
        clear: both;
        display: block;
        content: '';
      }
    }
    .social-share{
      display: inline-block;
      width: 200px;
      margin-right: 20px;
      margin-top: 0;
      ul{
        padding: 11.5px 15px;
      }
    }
    .paginate-buttons{
      display: inline-block;
      width: calc(100% - 220px);
      .btn-nav{
        @include font($s: 12px);
        width: 50%;
        float: left;
        padding: 0 10px;
        .icon-arrow{
          display: inline-block;
          width: 30px;
          height: 9px;
          margin-left: 5px;
        }
        &:first-child{
          background-color: $gray0;
          color: $gray80;
          .icon-arrow{
            margin-left: 0;
            margin-right: 5px;
          }
        }
      }
    }
  }

  @media #{$screen-min-sm}{
    .team-container{
      padding-top: 0;
    }
    .team-map{
      margin: 0 0 40px;
    }
    .list-member{
      &:before{
        @include position($b: -10px, $l: -10px);
      }
      .list-intro{
        padding: 20px;
        bottom: -42px;
        .member-name{
          margin-bottom: 0;
        }
        .member-post{
          margin-bottom: 20px;
        }
      }
    }
    .popup-team{
      .social-share{
        float: left;
      }
      .paginate-buttons{
        float: right;
      }
    }
  }
  @media #{$screen-min-md}{
    .team-map{
      margin-bottom: 60px;
    }
    .list-member{
      .list-intro{
        .member-name{
          margin-bottom: 5px;
        }
        .member-post{
          margin-bottom: 25px;
        }
      }
    }
  }
  @media #{$screen-min-lg}{
    .team-container{
      padding-top: 20px;
    }
    .team-map{
      margin-bottom: 40px;
    }
    .list-member{
      .list-intro{
        bottom: -50px;
        .member-post{
          margin-bottom: 35px;
        }
      }
    }
    .popup-team{
      .cols{
        width: 50%;
      }
      .team-single-map{
        img{
          display: none;
        }
      }
      .team-single-info{
        padding: 60px 40px 40px;
      }
    }
  }
  @media #{$screen-min-xl}{
    .team-container{
      padding-top: 90px;
    }
    .team-map{
      margin-bottom: 100px;
    }
    .list-member{
      margin-bottom: 40px;
      &:before{
        @include position($b: -15px, $l: -15px);
      }
      .list-intro{
        padding: 40px;
        bottom: -62px;
        .member-name{
          margin-bottom: 10px;
        }
      }
    }
  }
  @media only screen and (min-width: 1440px){
    .popup-team{
      .team-single-info{
        padding: 80px 50px 50px;
      }
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1359px){
    .popup-team{
      .paginate-buttons{
        .btn-nav{
          font-size: 0;
          .icon-arrow{
            vertical-align: middle;
          }
        }
      }
    }
  }
  @media #{$screen-max-lg}{
    .popup-team{
      .cols{
        width: 100%;
      }
      .team-single-info{
        padding: 60px 40px 40px;
      }
    }
  }
  @media #{$screen-max-md}{
    .popup-team{
      .paginate-buttons{
        .btn-nav{
          font-size: 0;
          .icon-arrow{
            vertical-align: middle;
          }
        }
      }
    }
  }
  @media #{$screen-max-sm}{
    .team-container{
      padding-top: 0;
    }
    .team-map{
      margin: 0 -20px 30px;
    }
    .list-member{
      &:before{
        @include position($b: -8px, $l: -8px);
      }
      .list-intro{
        padding: 20px;
        bottom: -40px;
        .member-name{
          margin-bottom: 2px;
        }
        .member-post{
          margin-bottom: 20px;
        }
        .btn-meet{
          img{
            width: 14px;
          }
        }
      }
      &:hover{
        .list-intro{
          .member-post{
            margin-bottom: 15px;
          }
        }
      }
    }
    .popup-team{
      .center-xy{
        padding-left: 0;
        padding-right: 0;
      }
      .nav-bars{
        right: 20px;
      }
      .team-single-info{
        padding: 80px 20px 40px;
      }
      .tm-figure{
        width: 95px;
        height: 95px;
      }
      .tm-qualities{
        li{
          width: 100%;
          margin-left: 0;
        }
      }
      .social-share{
        margin-bottom: 30px;
      }
      .paginate-buttons{
        width: 100%;
      }
    }
  }
}