/* Watch Page */
.page-watch{
  .categories-watch{
    padding-top: 100px;
  }
  .cat_watch-row{
    margin-top: 70px;
    &:first-child{
      margin-top: 0;
    }
  }
  .cat_watch-head{
    color: $white;
  }
  .cat_watch-body-list{
    @include position($p: relative);
    margin-top: 10px;
    &:first-child{
      margin-top: 0;
    }
  }
  .cat_watch-title{
    margin-top: 20px;
    span{
      @include font($s: 16px, $w: $regular);
      line-height: 22px;
      text-transform: uppercase;
      color: $white;
      &.separator{
        margin: 0 15px;
      }
    }
  }
  .cat_watch-item{
    margin-top: 15px;
  }
  .cat_watch-link{
    @include position($p: absolute, $t: 5px, $r: 10px);
  }
  .cat-link{
    @include font($w: $regular);
    color: $white;
  }
  .watch_item-figure{
    @include position($p: relative);
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #C4C4C4;
    img{
      display: block;
      width: 100%;
    }
  }
  .watch_item-title{
    @include font($s: 16px, $w: $regular);
    line-height: 22px;
    display: block;
    color: rgba(255,255,255,0.8);
    text-transform: capitalize;
  }
}
