/* Footer */
.site-footer{
  @include position($p: relative);
  padding: 70px 0 30px;
  background-color: $gray100;
  .btn-scroll-top{
    @include position($p: absolute, $b: 45px, $r: 65px);
  }
  .block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footer-logo{
    width: 117px;
  }
  .footer-text{
    p{
      @include font($s: 14px, $w: $regular);
      line-height: 22px;
      color: $white;
    }
  }
  .footer-nav{
    li{
      @include font($s: 14px, $w: $semi-bold);
      text-transform: uppercase;
      line-height: 22px;
      margin-top: 15px;
      letter-spacing: 0.06em;
      a{
        @include position($p: relative);
        color: $white;
        display: inline-block;
        &:after{
          @include position($p: absolute, $b: -2px, $l: 0);
          @include transition();
          display: block;
          content: '';
          width: 0;
          height: 1px;
          background-color: rgba(255,255,255,0.5);
        }
      }
      &:first-child{
        margin-top: 0;
      }
      /*&.fn-team{
        @include font($w: $bold);

      }*/
      &:hover{
        a{
          &:after{
            width: 100%;
          }
        }
      }
    }
  }
  .footer-social{
    li{
      display: inline-block;
      margin-right: 25px;
      width: 22px;
      a{
        display: block;
      }
      img{
        width: 100%;
        display: block;
      }
    }
  }
}

@media #{$screen-min-md}{
  .site-footer{
    .footer-logo{
      margin-right: 10%;
    }
    .footer-text{
      width: 30%;
      margin-right: 10%;
    }
    .footer-nav{
      width: 16%;
    }
    .footer-top{
      margin-bottom: 60px;
    }
    .footer-bottom{
      .footer-copyright{
        p{
          @include font($s: 12px, $w: $bold);
          line-height: 20px;
          color: #A1A1A1;
        }
      }
    }
  }
}
@media #{$screen-max-md}{
  .site-footer{
    .btn-scroll-top{
      @include position($b: 90px, $r: 25px);
    }
    .footer-logo{
      width: 100%;
      margin-bottom: 15px;
    }
    .footer-text{
      width: 100%;
      margin-bottom: 40px;
      padding-right: 40px;
      p{
        color: rgba(255,255,255,0.7);
      }
    }
    .footer-nav{
      width: 50%;
      li{
        /*text-transform: uppercase;*/
        /*letter-spacing: 0.06em;*/
      }
    }
    .footer-top{
      margin-bottom: 80px;
    }
    .footer-bottom{
      .block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .footer-logo{
        display: none;
      }
      .footer-text{
        order: 2;
        margin-bottom: 0;
        padding-right: 0;
      }
      .footer-social{
        order: 1;
        margin-bottom: 30px;
      }
    }
  }
}