/* Html */
html{
  width: 100%;
  height: 100%;
}

/* Body */
body {
  @include font($f: $base-font, $s: $font-size-base, $w: $regular);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $white;

  &.body-dark{
    background-color: $gray100;
  }
  &.body-light{
    background-color: $white;
  }
}

/* Headings */
h1, h2, h3, h4, h5, h6{
  @include font($f: $base-font);
}
h1{
  @include fluid-type(40px, 52px);
  @include fluid-line(46px, 58px);
}
h2{
  @include fluid-type(37px, 40px);
  @include fluid-line(43px, 46px);
}
h3{
  @include font($w: $bold);
  @include fluid-type(30px, 37px);
  @include fluid-line(36px, 43px);
}
h4{
  @include font($s: 30px, $w: $bold);
  line-height: 36px;
  margin-bottom: 30px;
}
h5{
  @include font($s: 22px, $w: $bold);
  line-height: 28px;
  margin-bottom: 30px;
}
h6{
  @include font($s: 18px, $w: $medium);
  line-height: 24px;
  margin-bottom: 30px;
}
.bannerHeading{
  @include font($w: $bold);
  @include fluid-type(40px, 52px);
  @include fluid-line(48px, 60px);
  text-transform: uppercase;
  letter-spacing: 0.055em;
}
.sectionHeading{
  @include fluid-type(26px, 37px);
  @include fluid-line(32px, 43px);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.055em;
  margin-bottom: 50px;
}

/* Paragraph */
p{
  @include font($f: $base-font, $s: 16px, $w: $regular);
  line-height: 22px;
  color: $gray100;
  letter-spacing: 0.01em;
}
.p-lg{
  @include font($f: $base-font, $s: 18px, $w: $medium);
  line-height: 24px;
  color: rgba(10,10,10,0.7);
}

/* Wrapper */
.wrapper{
  @include position($p: relative);
  width: 100%;
  margin: 0 auto;
  z-index: 4;
}
.wrapper-xl{
  max-width: 1430px;
}
.wrapper-lg{
  max-width: 1160px;
}
.wrapper-md{
  max-width: 920px;
}
.wrapper-sm{
  max-width: 680px;
}
.wrapper-xs{
  max-width: 575px;
}

/* Padding */
.pd-0{
  padding: 0 !important;
}
.pd-t-0{
  padding-top: 0 !important;
}
.pd-r-0{
  padding-right: 0 !important;
}
.pd-b-0{
  padding-bottom: 0 !important;
}
.pd-l-0{
  padding-left: 0 !important;
}
.pd-x-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pd-y-0{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.pd-x-sm{
  padding: 0 10px;
}
.pd-x-md{
  padding: 0 20px;
}
.pd-x-lg{
  padding: 0 40px;
  @media #{$screen-max-sm}{
    padding: 0 20px;
  }
}

/* Margin */
.mg-0{
  margin: 0;
}
.mg-t-0{
  margin-top: 0 !important;
}
.mg-r-0{
  margin-right: 0 !important;
}
.mg-b-0{
  margin-bottom: 0 !important;
}
.mg-l-0{
  margin-left: 0 !important;
}
.mg-x-0{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mg-y-0{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mg-x-sm{
  margin: 0 10px;
}
.mg-x-md{
  margin: 0 20px;
}
.mg-x-lg{
  margin: 0 40px;
  @media #{$screen-max-sm}{
    margin: 0 20px;
  }
}

/* Floats */
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}

/* Site Main */
.site-main{
  @media #{$screen-min-lg}{
    margin-top: 96px;
  }
  @media #{$screen-max-lg}{
    margin-top: 80px;
    .wrapper-xl{
      padding: 0;
    }
  }
}
body{
  &.body-light{
    .site-main{
      margin-top: 0;
    }
  }
}

/* HTML5 => Section */
section{
  @media #{$screen-min-sm}{
    padding: 60px 0;
  }
  @media #{$screen-min-md}{
    padding: 90px 0;
    &.pd-y-half{
      padding: 75px 0;
    }
    &.pd-t-half{
      padding-top: 75px;
    }
  }
  @media #{$screen-min-lg}{
    padding: 120px 0;
  }
  @media #{$screen-min-xl}{
    padding: 150px 0;
  }
  @media #{$screen-max-sm}{
    padding: 40px 0;
  }
}

/* Class => Section */
.section{
  @include position($p: relative);
  background-color: $white;
  z-index: 4;
  @media #{$screen-min-lg}{
    padding: 60px 0 80px;
  }
  @media #{$screen-min-xl}{
    padding-bottom: 100px;
  }
  @media #{$screen-max-lg}{
    padding-bottom: 60px;
  }
}

/* Section Overlay */
.s_overlay-reverse{
  @include position($p: relative);
  z-index: 2;
  &:before{
    @include position($p: absolute, $t: 0, $l: 0);
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgb(10,10,10);
    background: -moz-linear-gradient(180deg, rgba(10,10,10,1) 15.49%, rgba(10,10,10,0) 186.51%);
    background: -webkit-linear-gradient(180deg, rgba(10,10,10,1) 15.49%, rgba(10,10,10,0) 186.51%);
    background: linear-gradient(180deg, rgba(10,10,10,1) 15.49%, rgba(10,10,10,0) 186.51%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a0a0a",endColorstr="#0a0a0a",GradientType=1);
  }
}

/* Anchor Tag */
a{
  text-decoration: none;
  @include transition();
}

/* Flex */
.d-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Header, Footer => Common CSS for Brand Logo */
.brand-logo{
  a{
    display: inline-block;
    max-width: 117px;
  }
  img{
    width: 100%;
    display: block;
  }
}

/* Background Image */
.bgImage{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Background Colors */
.bg-light{
  background-color: $white;
}
.bg-dark{
  background-color: $gray100;
}

/* Background Position => Center Top */
.bg-pos-center-top{
  background-position: center top;
}

/* Text Color White */
.txt-light{
  h1,h2,h3,h4,h5,h6,p,span,li{
    color: $white;
  }
}

/* Text Color Dark */
.txt-dark{
  h1,h2,h3,h4,h5,h6,p,span,li{
    color: $gray100;
  }
}

/* Nav Cart */
.nav-cart{
  @include position($p: relative);
  width: 24px;
  .cart-num{
    @include position($p: absolute, $t: -4px, $r: -8px);
    @include radius(50%);
    @include font($s: 14px, $w: $semi-bold);
    line-height: 14px;
    width: 20px;
    height: 20px;
    background-color: $primary100;
    color: $gray100;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* Quantity Picker */
.cart-number{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  span,input{
    @include font($w: $semi-bold);
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $gray100;
    background-color: $gray25;
  }
  input{
    @include font($s: 16px);
    display: inline-block;
    letter-spacing: 0.045em;
    width: 43px;
    padding: 0;
    margin: 0 1px;
    &::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
      -webkit-appearance: none;
      margin: 0;
    }
  }
  input[type=number]{
    -moz-appearance: textfield;
  }
  span{
    @include font($s: 16px);
    width: 22px;
    cursor: pointer;
  }
}

/* Social Media Share Icons */
.social-share{
  display: inline-block;
  margin-top: 20px;
  ul{
    padding: 10px 15px;
    border: 1px solid $border;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    li{
      display: inline-block;
      line-height: 10px;
      margin-left: 26px;
      max-width: 22px;
      &:first-child{
        margin-left: 0;
      }
      a{
        display: inline-block;
      }
      img{
        width: 100%;
        display: block;
      }
    }
  }
}

/* Video Run Time Info */
.m_run-time{
  /*margin-top: 15px;*/
  @include position($p: absolute, $r: 15px, $b: 15px);
  z-index: 6;
  span{
    @include font($s: 10px, $w: $semi-bold);
    line-height: 16px;
    display: inline-block;
    background-color: $primary100;
    letter-spacing: 0.06em;
    color: $gray100;
    padding: 2px 6px;
  }
}

/* Category Heading|Title */
.cat-title{
  @include font($s: 24px, $w: $regular);
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: $gray100;
}
.cat-link{
  @include font($s: 14px, $w: $semi-bold);
  line-height: 20px;
  letter-spacing: 0.06em;
  color: $gray100;
  text-transform: uppercase;
}