/* Header */
.site-header{
  @include position($p: fixed, $t: 0, $l: 0);
  @include transition();
  width: 100%;
  z-index: 9999999;
  background-color: transparent;
  .navbar-brand{
    width: 151px;
  }
  .nav-cart{
    cursor: pointer;
  }
  &.scrolling{
    background-color: $gray100;
  }
}
body{
  &.body-dark{
    .site-header{
      background-color: $gray100;
    }
  }
}

@media #{$screen-min-lg}{
  .site-header{
    padding: 15px 0 35px;
    .block{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    .navbar-right{
      width: 151px;
    }
    .navbar-primary{
      width: calc(100% - 302px);
      text-align: center;
    }
    .menu{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      > li{
        @include position($p: relative);
        @include font($s: 14px, $w: $semi-bold);
        line-height: 16px;
        text-transform: uppercase;
        margin: 0 25px;
        letter-spacing: 0.06em;
        a{
          color: $white;
        }
        &:after{
          @include position($p: absolute, $b: -7px, $l: 0);
          @include transition();
          display: block;
          content: '';
          width: 0;
          height: 1px;
          background-color: rgba(255,255,255,0.5);
        }
        &:hover, &.current{
          &:after{
            width: 100%;
          }
        }
        &.hasChild{
          &:before{
            @include position($p: absolute, $t: 5px, $r: -15px);
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid $white;
          }
        }
      }
    }
    .navbar-right{
      justify-content: flex-end;
      align-items: center;
    }
    .nav-search{
      width: 24px;
      margin: 0 30px;
      cursor: pointer;
    }
  }
}
@media #{$screen-max-lg}{
  .site-header{
    padding: 20px 0 15px;
    .navbar-primary,.nav-cart,.nav-search{
      display: none;
    }
    .block{
      &:after{
        clear: both;
        display: block;
        content: '';
      }
    }
    .navbar-brand{
      float: left;
    }
    .navbar-right{
      float: right;
    }
  }
}
