/* Body */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Clearings */
.clear {
  clear: both;
  display: block;
}
.clearfix {
  display: block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

* html,* html {
  .clearfix {
    height: 1%;
  }
}

/* Box Sizing */
*,*:after,*:before {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}