/* Media Queries - From mobile to desktop */
$screen-min-sm: "screen and (min-width: 576px)";
$screen-min-md: "screen and (min-width: 768px)";
$screen-min-lg: "screen and (min-width: 992px)";
$screen-min-xl: "screen and (min-width: 1200px)";

/* Media Queries - From desktop to mobile */
$screen-max-sm: "screen and (max-width: 575px)";
$screen-max-md: "screen and (max-width: 767px)";
$screen-max-lg: "screen and (max-width: 991px)";
$screen-max-xl: "screen and (max-width: 1199px)";

/* Primary Colors */
$white: #FFFFFF;
$black: #131415;
$gray100: #0A0A0A;
$gray80: #656565;
$gray50: #D1D1D1;
$gray25: #F4F5F7;
$gray0: #F1F1F1;
$primary100: #FECB04;
$primary50: #FFDB4D;
$success: #01A657;
$alert: #DE1C22;
$disabled: #ADADAD;
$border: #DFE1E6;

/* Typography */
$base-font: 'Lato', sans-serif;

/* Font Weights */
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$heavy: 800;
$blak: 900;

/* Headings */
$headings: h1 h2 h3 h4 h5 h6;

/* Base Font Size */
$font-size-base: 16px;